.contain {
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-left: 15vw;
    
}

.card {
    text-align: center;
    border-radius: 5px ;
}

.card:hover {
    text-align: center;
    transform: scale(1.05);
    background-color: indianred !important;
}